.site-header {
  background: var(--header-color);
  padding: 0 var(--spacing-lg);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: var(--header-height);
  }
}

.logo {
  height: 32px;
  width: auto;
}
