.card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 3 / 4;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  transition: box-shadow var(--transition-base);
  height: 260px;
  width: 100%;

  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-md);
  }

  &__img-wrap {
    flex: 4;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-base);

    .card:hover & {
      transform: scale(1.04);
    }
  }

  &__title {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-md);
    background: var(--color-bg-card);

    span {
      font-size: var(--font-size-sm);
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
