<section class="home-skeleton">
  <div class="home-skeleton__hero">
    <div class="home-skeleton__hero-inner">
      <div class="home-skeleton__logo skeleton skeleton--dark"></div>
      <div class="home-skeleton__title skeleton skeleton--dark"></div>
      <div class="home-skeleton__subtitle skeleton skeleton--dark"></div>
      <div class="home-skeleton__search skeleton skeleton--dark"></div>
    </div>
  </div>

  <div class="home-skeleton__events">
    <div class="home-skeleton__event-card skeleton"></div>
    <div class="home-skeleton__event-card skeleton"></div>
    <div class="home-skeleton__event-card skeleton"></div>
  </div>
</section>
